.menu-container{
    max-width: 600px;
    height: 400px;
    margin: 100px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    .menu-wrap{
        padding-top: 15px;
        .menu-list{
            display: flex;
            gap: 10px;
            li{
                button{
                    background: #eee;
                    padding: 5px 20px;
                    border-radius: 10px;
                    &.active{
                        background: #222;
                        color: #fff;
                    }
                }
            }
        }
    }
}